@use '@material/button/index' as mdc-button;

@use '@smui-extra/badge/_style.scss' as badge;
@use '@smui/button/_style.scss' as button;
@use '@smui/checkbox/_style.scss' as checkbox;
@use '@smui/chips/_style.scss' as chips;
@use '@smui/dialog/_style.scss' as dialog;
@use '@smui/drawer/_style.scss' as drawer;
@use '@smui/form-field/_style.scss' as form-field;
@use '@smui/icon-button/_style.scss' as icon-button;
@use '@smui/linear-progress/_style.scss' as linear-progress;
@use '@smui/list/_style.scss' as list;
@use '@smui/menu-surface/_style.scss' as menu-surface;
@use '@smui/snackbar/_style.scss' as snackbar;
@use '@smui/tab/_style.scss' as tab;
@use '@smui/tab-bar/_style.scss' as tabbar;
@use '@smui/textfield/_style.scss' as textfield;
@use '@smui/top-app-bar/_style.scss' as topappbar;

html,
body {
  font-family: Roboto, Helvetica Neue, sans-serif;
  position: relative !important;
  overflow-x: hidden;
  margin: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.mdc-dialog__content {
  overflow-x: hidden !important;
}

.chip-button {
  @include mdc-button.shape-radius(999px);
  text-transform: none !important;
  height: 24px;
  margin: 2px;
}

.small-icon-button {
  width: 28px;
  height: 28px;
  padding: 0;
  margin: 0;
}

.vertical-align-text-bottom {
  vertical-align: text-bottom;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.medium-icon-button {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
}

.mdc-icon-button .smui-badge svg {
  width: 20px;
  height: 20px;
}

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.ml-small {
  margin-left: 5px;
}

.dialog-close-button {
  float: right;
  top: 4px;
}

.dialog-close-button {
  --mdc-ripple-top: 12px !important;
  --mdc-ripple-left: 12px !important;
  --mdc-ripple-fg-size: 24px !important;
}

.data-table {
  padding-top: 4px;
  padding-bottom: 4px;
}

.data-table:not(:last-child) {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--separator-color);
}

.data-table-title {
  margin: 6px 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: bold;
}

.data-table-row-unchecked {
  background: var(--disabled-background);
}

.data-table-row {
  display: flex;
  justify-content: start;
  align-items: center;
}

.data-table-cell {
  padding: 0 2px;
}

.data-table .mdc-checkbox {
  padding: 2px;
}

.data-table .mdc-checkbox .mdc-checkbox__background {
  top: 2px;
  left: 8px;
}

.flex-grow {
  flex-grow: 1;
}

.flex-fixed-icon {
  flex-basis: 30px;
}

.more-menu-icon {
  margin: 0 5px 0 0;
  padding: 0 2px 0 0;
}

.caption {
  font-size: 75%;
}

.dialog-content {
  margin: 0;
  padding: 0;
}

.clickable {
  cursor: pointer;
}

.error-text {
  color: var(--mdc-theme-error);
}

.export-text-field {
  min-width: 400px;
  width: 100%;
  font-size: 1rem;
}

.inline-filter-row {
  display: inline-flex;
  align-items: center;
}

.mdc-deprecated-list-item {
  white-space: nowrap !important;
}

.mdc-deprecated-list-item--disabled {
  color: #888;
}

// AppLayout
.app-content {
  margin-left: 0 !important;
  width: var(--app-content-width);
  position: absolute;
  left: 36px;
}

// Autocomplete {
.autocomplete-input {
  border: none;
  height: 30px;
  width: 100%;
}

// Chip
.small-chip {
  height: 24px;
  margin: 2px;
}

// ColorPicker Base

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: #f2f2f2;
  border-radius: 1px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.51);
  -webkit-touch-callout: none;
  user-select: none;
}

.colorsquare {
  height: 160px;
  width: 100%;
  flex: none;
  background: rgb(255, 0, 0);
}

.saturation-gradient {
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  height: 100%;
  width: 100%;
  flex: none;
}

.value-gradient {
  background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
  overflow: hidden;
  height: 160px;
}

.colorsquare-picker {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #fffb;
  position: relative;
  transform: translate(-9px, -9px);
  left: 100%;
}

.colorsquare-event {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translate(0, -16px);
  touch-action: none;
}

.hue-selector {
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 17%,
    #00ff00 33%,
    #00ffff 50%,
    #0000ff 67%,
    #ff00ff 83%,
    #ff0000 100%
  );
  margin: 15px 10px 10px 10px;
  border-radius: 10px;
  height: 10px;
}

.hue-picker {
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  left: 0%;
  position: relative;
  cursor: default;
  transform: translate(-5px, -1px);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.67);
}

.hue-event {
  width: 236px;
  height: 14px;
  transform: translate(-8px, -14px);
  cursor: default;
  touch-action: none;
}

// Drawer
.main-drawer {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: width 0.2s ease-out;
}

.main-drawer::-webkit-scrollbar {
  display: none;
}

.main-drawer-expand {
  width: 256px;
}

.main-drawer-collapsed {
  width: 36px;
}

.main-drawer-item {
  padding: 0 !important;
  margin: 0 !important;
}

.main-drawer-item-text {
  font-size: 16px;
  margin-left: 5px;
}

.main-drawer-icon-container {
  color: white;
  font-size: 16px;
  border-radius: 25px;
  margin: 10px 6px;
}

.main-drawer-icon {
  padding-top: 4px;
}

.main-drawer-list {
  margin: 2px 0;
  padding: 0;
}

.profiles-list {
  min-height: var(--profiles-list-min-height);
}

.scrim {
  background: #ccc;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.pro-feature-lock {
  position: absolute;
  top: 20px;
  left: 16px;
}

// ImportDialog
.extra-large-textarea {
  width: 100%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

// ExportJsonDialog
.export-json-dialog-content {
  display: grid;
  grid-template-columns: auto auto;
}

.export-json-dialog-content .mdc-deprecated-list-item {
  padding-left: 0;
}

.export-json-dialog-content .mdc-deprecated-list-item__meta {
  margin-left: 0;
}

// ProfileBadge
.profile-badge-icon-container {
  color: white;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px 4px;
  width: 24px;
  min-width: 24px;
  height: 24px;
}

.profile-badge-icon-text {
  margin-top: 1px;
  width: 24px;
  display: flex;
  justify-content: center;
}

.profile-badge-status {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
}

// ProfileBadgeDialog
.color-picker-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.profile-badge-preview-text {
  background: none;
  border: none;
  color: white;
  outline: none;
  padding-left: 6px;
  font-size: 20px;
  width: 24px;
}

.profile-badge-preview {
  border-radius: 50%;
  display: inline-block;
  width: 24px;
  height: 24px;
}

// TopBar
.profile-title {
  border: none;
  background: none;
  color: #fff;
  margin: 0 10px;
  font-size: 18px;
  outline: none;
  padding: 0;
}

.top-bar {
  height: 48px;
  width: var(--top-bar-width);
}

.top-bar-profile-badge {
  border: 2px solid white;
  border-radius: 50%;
  font-size: 20px;
  top: 10px;
  position: absolute;
  left: 8px;
}

.top-bar-profile-badge-text {
  width: 24px;
  display: flex;
  justify-content: center;
}
